* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #606060;
  opacity: 1;
  transition: 0.7s opacity;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body.fade {
  opacity: 0;
  transition: none;
}

a {
  color: inherit;
  cursor: pointer;
}

h1 {
  color: #4F92BA;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.55);
}

p {
  font-size: 1.15em;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: inherit;
}

hr {
  background: rgba(144, 144, 144, 0.5);
  display: inline-block;
  height: .5px;
  margin: 1.5em 0 2.5em 0;
  width: 8em;
}

ul, li {
  list-style: none;
}


/* Header */

.header-wrapper {
  width: 100%;
  height: 10em;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-image: linear-gradient(19deg,  rgba(69,127,202,1) 3.6%, rgba(23,77,145,1) 94.9% );
  z-index: -1;
}

.logo-header {
  grid-column: 1;
  margin: 0 .35em;
}

.logo {
  width: 100%;
  height: auto;
}


/* Navbar */

.nav-header {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


/* Navbar Hamburger Menu */

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  margin: .5em 0;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-item {
  color: #66A0D9;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}


.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  -o-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Make middle bar invisible */

.nav-toggle:checked ~ .nav-toggle-label > span {
	background-color: transparent;
}

/* Rotate and translate the top and bottom bar */

.nav-toggle:checked ~ .nav-toggle-label > span::before {
	transform: translateY(0.5em) rotate(45deg)
}

.nav-toggle:checked ~ .nav-toggle-label > span::after {
	transform: translateY(-0.5em) rotate(-45deg)
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 4em;
  right: 0;
  margin-right: 1em;
  height: auto;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: .125em;
  width: 2.15em;
  border-radius: .125em;
  position: relative;
  transition: transform 0.2s, background-color 0.2s;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: .5em;
}

.nav-toggle-label span::after {
  top: .5em;
}

.open .nav-toggle {
  transform: rotate(45deg);
}

.open .nav-toggle::before {
  opacity: 0;
}

.open .nav-toggle::after {
  transform: translateY(-3px) rotate(-90deg);
}


/* Hero */

.fade-wrapper {
  width: 100%;
  height: 30em;
}

.fadein {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 35em;
}

.pic1 {
  background-image: url('https://images.unsplash.com/photo-1528736189815-2cc50c5586f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1586&q=80');
  background-size: cover;
  background-position: center;
}

.pic2 {
  background-image: url('https://images.unsplash.com/photo-1516182823370-7a5fa91445c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  background-position: center;
}

.pic3 {
  background-image: url('https://images.unsplash.com/photo-1542296120-cd8d3eb196d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  background-position: center;
}

.pic {
  filter: grayscale(25%);
}

.fadein .pic {
  position:absolute;
  left:0;
  right:0;
  width: auto;
  height: 100%;
  opacity:0;
  animation-name: fade;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.fadein .pic:nth-child(1) {
  animation-delay: 0s;
}
.fadein .pic:nth-child(2) {
  animation-delay: 4s;
}
.fadein .pic:nth-child(3) {
  animation-delay: 8s;
}

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.fadein-wrapper::before {
  background-size:cover;
  background-position: center;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

.fadein-wrapper::after {
  background-color: #314F59;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .25;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.fade-message {
  text-shadow: #343a40 1px 1px;
  min-width: 100%;
  min-height: 10em;
  position: relative;
}

.fade-message::before {
  content: "";
  display: block;
  position: absolute;
  margin-left: 0;
  min-width: 100%;
  min-height: 11em;
  z-index: -1;
  opacity: 0.4;
  background-color: #343a40;
}

.hero-title {
  font-size: 2.25em;
  color: #4387C9;
}

.hero-sub {
  color: #66A0D9;
}

.hero-title,
.hero-sub {
  width: 100%;
  display: block;
}

.hero-title {
  margin: 3% 0;
  text-transform: uppercase;
}


/* About */

.about-wrapper {
  margin-top: 5em;
  background: #f2f2f2;
}

.about {
  padding-top: 5em;
  margin: 0 auto;
}

.about-pic {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

.about-paragraph {
  margin: 0 auto;
  max-width: 28ch;
}

@media (min-width: 768px){

  .about-paragraph {
    font-size: 1.25em;
    max-width: 50ch;
  }

}

@media (min-width: 1440px){

  .about-paragraph {
    font-size: 1.25em;
    max-width: 75ch;
  }

}

h1.about-title:first-child {
  margin-top: 2em;
}

#facebook-page {
  margin: 0 auto;
}


/* Ministries */

.ministry-wrapper {
  margin-top: 5em;
}

.ministry-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: .15em;
}

.main-ministry-title {
  margin-top: 2em;
}

.ministry {
  margin: .5em;
  width: 24em;
  height: 18em;
}

#ministry1 {
  background-image: url('../assets/img/money.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

#ministry2 {
  background-image: url('../assets/img/nightsky.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

#ministry3 {
  background-image: url('../assets/img/bible.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

#ministry4 {
  background-image: url('../assets/img/couch.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.ministry-msg {
  color: transparent;
  width: 100%;
  min-height: 15em;
  position: relative;
  text-transform: uppercase;
}

.ministry-msg::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  min-width: 100%;
  height: 15em;
  opacity: 0.35;
  background-color: #474747;
}

.ministry-title,
.ministry-subtitle {
  width: 100%;
  display: block;
  text-align: center;
  color: #66A0D9;
  text-shadow: #343a40 0px 1px 1px;
}

.ministry-title:first-child,
.ministry-subtitle:first-child {
  margin-top: 1em;
}

.ministry-title {
  font-size: 1.5em;
}

i.fas {
  font-size: 2.25em;
  margin: .5em 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(119deg,  rgba(29,70,163,1) 5.6%, rgba(17,196,238,1) 109.7% );
}

#ministry-btn {
  margin-top: 2em;
  color: #fff;
  background: #457fca;
}


/* Contact */

.contact-wrapper {
  margin: 0 auto;
  padding: 5em 2em 2em 2em;
}

.contact-wrapper p {
  margin: 0 auto;
  max-width: 35ch;
}


#submit {
  margin-top: 2em;
  color: #fff;
  background: #457fca;
}


/* Footer */

.footer-wrapper {
  color: white;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(19deg,  rgba(69,127,202,1) 3.6%, rgba(23,77,145,1) 94.9% );
}

.footer {
  margin: 0 .5em;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: .25em;
}

.ui.button {
  margin: .25em 0;
}

.footer-links {
  list-style: none;
}

.footer-link {
  margin: 2em .25em 1em .25em;
}

.footer-copyright {
  margin: 2em .25em .5em .25em;
}

.footer-copyright p {
  margin: 0;
}






/* Media Query */

@media (min-width: 768px) {

  .logo {
    width: 50%;
    height: auto;
  }

  .nav-toggle-label {
    display:none;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    margin: 0 1em;
    display: flex;
    justify-content: space-around;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .fadein {
    height: 50em;
  }

  .hero-title {
    font-size: 3em;
  }

  .hero-sub {
    font-size: 1.75em;
  }

  .about-wrapper {
    margin-top: 20em;
  }

  .about-pic {
    width: 50%;
    height: auto;
  }

  .contact-wrapper {
    max-width: 40%;
  }

  .footer-social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 3em 0;
  }

}

@media (min-width: 1024px) {

  .about-pic {
    width: 35%;
    height: auto;
  }

  .logo-header {
    margin: 1em 0;
  }

  .logo {
    width: 30%;
    height: auto;
  }

}

@media (min-width: 1440px) {

  .logo {
    width: 30%;
    height: auto;
  }

  .logo-header {
    margin: 0;
  }

}
