/* Hero SLIDESHOW */

.pic1 {
  background-image: url('../assets/img/family.jpg');
  background-size: cover;
  background-position: center;
}

.pic2 {
  background-image: url('../assets/img/looking.jpg');
  background-size: cover;
  background-position: center;
}

.pic3 {
  background-image: url('../assets/img/laugh.jpg');
  background-size: cover;
  background-position: center;
}

.pic {
  filter: grayscale(15%);
}

.fadein .pic {
  position:absolute;
  left:0;
  right:0;
  width: auto;
  height: 100%;
  opacity:0;
  animation-name: fade;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.fadein .pic:nth-child(1) {
  animation-delay: 0s;
}
.fadein .pic:nth-child(2) {
  animation-delay: 4s;
}
.fadein .pic:nth-child(3) {
  animation-delay: 8s;
}

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.fade-title {
  text-shadow: none;
  font-size: 2.5em;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(99deg, rgba(9,131,178,1) 5%, rgba(63,163,201,1) 24%, rgba(27,159,207,1) 35%, rgba(37,175,228,1) 79%, rgba(3,117,161,1) 100%);
}

.fade-title:first-child {
  margin-top: 3.5em;
}

span {
  font-size: 1.5em;
}


/* Intro to Ministries */

.intro-wrapper {
  margin: 3em 0;
}

.intro-container {
  margin: 0 2em;
}

.intro-pic {
  width: 100%;
  height: auto;
}

.intro-text {
  margin: 2em;
  padding-bottom: 2em;
}

.intro-text p {
  margin: 0 auto;
  max-width: 30ch;
}


/* Ministries */

.ministries-wrapper {
  background: rgb(252,253,254);
  background: linear-gradient(159deg, rgba(252,253,254,1) 1%, rgba(232,232,232,1) 23%, rgba(231,231,232,1) 60%, rgba(207,216,224,1) 86%);
}

.ministries-header-title {
  padding-top: 2.5em;
}

.ministries-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.min-pics {
  margin: 1.25em 1.25em 4em 1.25em;
}

.min-pictures {
  width: 20em;
  height: 15em;
  filter: grayscale(40%);
  border-radius: 2%;
  box-shadow: 4px 4px 25px -10px rgba(163,163,163,1);
}

.min-info {
  margin: 0 auto;
  max-width: 30ch;
}


/* Services */

.services-container {
  margin-top: 5em;
}

.services-header {
  margin: 0 auto;
  max-width: 30ch;
}

.services {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services h2 {
  font-weight: lighter;
}

.services h3 {
  font-style: italic;
}

.counseling {
  background-image: url('https://images.unsplash.com/photo-1554730411-1385c7e46ecc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1649&q=80');
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: 25em;
}

.consulting {
  background-image: url('https://images.unsplash.com/photo-1454923634634-bd1614719a7b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: 25em;
}

.coaching {
  background-image: url('https://images.unsplash.com/photo-1425421669292-0c3da3b8f529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80');
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: 25em;
}

.counseling-text {
  background-color: rgba(23, 24, 32, .75);
  position: absolute;
  left: 0;
  height: 25em;
  margin: 0;
  padding: 1.5em .75em;
  border-right: 3px solid #418aa7;
  color: white;
}

.consulting-text {
  background-color: rgba(23, 24, 32, .75);
  position: absolute;
  right: 0;
  height: 25em;
  margin: 0;
  padding: 1.5em .75em;
  border-left: 3px solid #418aa7;
  color: white;
}

.coaching-text {
  background-color: rgba(23, 24, 32, .75);
  position: absolute;
  left: 0;
  height: 25em;
  margin: 0;
  padding: 1.5em .75em;
  border-right: 3px solid #418aa7;
  color: white;
}

.counseling-text p,
.consulting-text p,
.coaching-text p {
  max-width: 30ch;
}

.service-btn {
  border: 1px solid white;
  border-radius: .25em;
  color: white;
  background-color: transparent;
  padding: .75em 3em;
}

h2.prices-title:first-child {
  margin-top: 2em;
}

.prices-wrapper {
  margin-bottom: 4em;
}

.prices {
  margin: .75em 0;
  font-size: 1.15em;
}

.pro-wrapper {
  margin: 0 auto;
  max-width: 30ch;
}

.pro-wrapper h1,
.review-wrapper h1 {
  color: #009fd9;
}

.pro-wrapper hr {
  margin: 0;
}

.top-pro {
  display: flex;
  justify-content: space-around;
}

.pro-badge {
  width: 5em;
  height: 5em;
  margin: 2em 0 2em 0;
}

.reviews-wrapper {
  margin-top: 2em;
}

.review-wrapper {
  margin: 2em 0;
}

.review-wrapper p {
  font-style: italic;
}

.review {
  margin: 0 auto;
  max-width: 20ch;
}


/* Media Queries */

@media (min-width: 768px) {

  .fade-title {
    font-size: 4em;
  }

  .intro-pic {
    width: 70%;
  }

  .intro-text p {
    max-width: 45ch;
    font-size: 1.15em;
  }

  .services-header {
    margin: 0 auto;
    max-width: 40ch;
  }

  .top-pro {
    display: flex;
    justify-content: center;
  }

  .pro-badge {
    width: 10em;
    height: 10em;
    margin: 2em 2em 3em 2em;
  }

  .counseling-text p,
  .consulting-text p,
  .coaching-text p {
    max-width: 50ch;
  }

  .service-btn {
    margin-top: 2em;
  }

}

@media (min-width: 1024px) {

  .intro-pic {
    width: 40%;
  }

  .intro-text p {
    max-width: 60ch;
    font-size: 1.25em;
  }


}

@media (min-width: 1440px) {

  .counseling-text p,
  .consulting-text p,
  .coaching-text p {
    max-width: 65ch;
  }

}
